/* ------------------------------------------ */
/* ----------------フォント名----------------- */
/* ------------------------------------------ */
@use 'tk';

// regular
@mixin arial{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-feature-settings: "palt";
        font-weight: 500;
        line-height: 1.5;
        @include tk.tracking(0);
}
$nav-fs: 16px;
