/* ------------------------------------------ */
/* ----------------フォント名----------------- */
/* ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;900&display=swap');

// regular
@mixin zen-kaku-gothic-new-r {
        font-family: "Zen Kaku Gothic New", serif;
        font-weight: 400;
        font-style: normal;
}
// black
@mixin zen-kaku-gothic-new-bl {
        font-family: "Zen Kaku Gothic New", serif;
        font-weight: 900;
        font-style: normal;
}