/* ------ container width ------*/
$container1: 1080px;
$container2: 1050px;

/* ------ break point ------*/

$retina: 1500px;
$break1: 1250px;
$break2: 600px;
$break3: 400px;
$article_break: 767px;


